 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px; 
}

body {
    font-family: "Noto Sans TC", sans-serif;
    color: #333;
    background-color: #F1EDE6;  /* body background color */
    line-height: 1.6; /*space bwt lines*/
}
  
.page-header {
    background-color: #a48374; /* header color */
    color: white;
    text-align: center;
    padding: 2rem 1rem; /*space inside (2rem top/bottom, 1rem sides)*/
}
.page-header h1 {
    font-size: 1.8rem;
}
  
.container {
    max-width: 960px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
  
.questions {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.qa h2 {
    color: #3A2D28; /* h2 color */
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.qa p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1rem; /* add space between paragraphs */
}

.qa p:last-child {
    margin-bottom: 0; /* prevent extra space at the very end */
}
  
@media (max-width: 992px) { /*tablet*/
    html {
      font-size: 15px;
    }
    .container {
      padding: 1.5rem;
    }
}
  
@media (max-width: 600px) { /*mobile*/
    html {
      font-size: 14px;
    }
    .page-header h1 {
      font-size: 1.4rem;
    }
    .container {
      padding: 1rem;
    }
    .qa h2 {
      font-size: 1rem;
    }
    .qa p {
      font-size: 0.9rem;
    }
}
  


